section.signup
	.signup__wrap
		.signup__header Join over 2 million designers already using InVision. Get InVision <strong>free</strong> forever!
		form(action="#" method="POST" class="signup__form")
			.signup__form-group
				label(for="name" class="signup__form-label") Your Name
				i.signup__form-icon.icon-user
				input(type="text" id="name" class="signup__form-input")
			.signup__form-group
				label(for="email" class="signup__form-label") Email Address
				i.signup__form-icon.icon-email
				input(type="email" id="email" class="signup__form-input")
			.signup__form-group
				label(for="pass" class="signup__form-label") Create a Password
				i.signup__form-icon.icon-lock
				input(type="password" id="pass" class="signup__form-input")
			.signup__form-group
				button(type="submit" class="signup__form-submit") Get Started — Free Forever!
		.signup__footer By clicking "Get Started — Free Forever!" I agree to InVision's 
			a(href="#") Terms of Service.