.nav {
    margin: 0;
    padding: 0;
    &__item {
        display: block;
        @media screen and (min-width: 899px) {
            display: inline-block;
        }
    }
    &__link {
        font-size: $navbar-font-size;
        line-height: 1;

        display: flex;

        height: 48px;
        padding: 0 1.5em;

        cursor: pointer;
        transition: background-color ease-out .5s;
        text-decoration: none;

        color: $navbar-font-color;

        align-items: center;
        justify-content: space-between;
        i {
            padding-left: 7px;
        }
        &:hover {
            transition: background-color .2s;

            background-color: rgba(0,0,0,.1);
            & > .navbar__user-name {
                color: #0078d7;
            }
        }
    }
}
