section.oculus
	a(href="#" class="oculus__item")
		//- img(src="/assets/images/oculus1.jpg", alt="oculus img" class="oculus__img")
		div(class="oculus__img" style="background-image:url(/assets/images/oculus1.jpg)")
		.oculus__text
			h4.oculus__text-sub FEATURED CONTENT
			h3.oculus__text-header EVE: Valkyrie
	a(href="#" class="oculus__item")
		div(class="oculus__img" style="background-image:url(/assets/images/oculus2.jpg)")
		.oculus__text
			h4.oculus__text-sub INCLUDED WITH ALL RIFT PURCHASES
			h3.oculus__text-header Lucky's Tale
	a(href="#" class="oculus__item")
		div(class="oculus__img" style="background-image:url(/assets/images/oculus3.jpg)")
		.oculus__text
			h4.oculus__text-sub FEATURED STORY
			h3.oculus__text-header A Closer Look at Oculus Medium and the Creative Power of Touch