section.hero
	.hero__bg-container
	.hero__wrap
		.hero__container
			h1.hero__header Безопасный доступ, синхронизация и совместная работа
			p.hero__sub-header Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.
			.try-business-cta
				a(href="#" class="try-business-cta__button") Попробуйте бесплатную 30-дневную ознакомительную версию
				span(class="try-business-cta__footer") или 
					a(href="#") купите прямо сейчас