extends ../partials/layout-default

block head
	- var pageTitle = 'Ciklum JavaScript Internship ';

block header
	include ../blocks/microsoft/index
	
block content
	include ../blocks/dropbox/hero
	include ../blocks/invision/signup-form
	include ../blocks/oculus/oculus